<div>
    <label>Search</label>
    <input type="text" [(ngModel)]="searchTxt" class="form-control mtp10" name="searchTxt" placeholder="Search by title">

    <table class="table table-striped mtp10" [mfData]="data?.hits | search:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
            <th *ngFor="let col of displayedColumns;" class="title">
                <mfDefaultSorter by="{{col}}" >{{col.replace('_', ' ')}}</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data" (click)="show(item)" class="pointer-cursor">
            <td *ngFor="let col of displayedColumns;" class="text-justify">{{col === 'created_at' ? (item[col] | date:'dd/MM/yyyy') : item[col]}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>